export const process = {
	env: {
		DEV_HOST: "127.0.0.1",
		DEV_PORT: "5500",
		//? if publishing to mono repo style website, insert path to sub page on site
		//? leave PATH = `/` if contents load at the home page of site
		PATH: "/games/pet-simulator",
	},
}

export default process
