:root {
	--nudge-x: -6px;
	--nudge-y: -12px;
	--cell-size: -1;
	--canvas-overflow: 0;
	--emote-w: 16px;
	--move-speed: 20s;
}

progress {
	/* --background: transparent; */
	--background: repeating-linear-gradient(
		45deg,
		hsl(0, 0%, 26%),
		hsl(0, 0%, 26%) 10px,
		hsl(0, 0%, 20%) 10px,
		hsl(0, 0%, 22%) 20px
	);
	--optimum: repeating-linear-gradient(
		45deg,
		hsl(var(--color-hue), 100%, 56%),
		hsl(var(--color-hue), 100%, 56%) 10px,
		hsl(var(--color-hue), 100%, 45%) 10px,
		hsl(var(--color-hue), 100%, 42%) 20px
	);
	--sub-optimum: repeating-linear-gradient(
		45deg,
		hsl(179, 100%, 46%),
		hsl(179, 100%, 46%) 10px,
		hsl(179, 100%, 40%) 10px,
		hsl(179, 100%, 42%) 20px
	);
	--sub-sub-optimum: repeating-linear-gradient(
		45deg,
		hsl(179, 100%, 36%),
		hsl(179, 100%, 36%) 10px,
		hsl(179, 100%, 30%) 10px,
		hsl(179, 100%, 32%) 20px
	);
	-webkit-appearance: none;
	appearance: none;
	-moz-appearance: none;
	background: var(--background);
	display: block;
	margin-bottom: 1em;
	height: 10px;
	width: 100px;
	border: none;
	border-radius: 30px;
}

progress[value] {
	/* Reset the default appearance */
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	/* Get rid of default border in Firefox. */
	border: none;

	/* Dimensions */
	/* width: 250px; */
	/* height: 20px; */
}
progress::-webkit-progress-bar {
	background-color: var(
		--background
	); /* Background of the progress bar (track) */
	border-radius: 15px;
}
progress[value]::-moz-progress-bar {
	background: var(--optimum);
	border-radius: 7px;
	transition-property: color, background, width;
	transition-duration: 0.5s;
	transition-timing-function: ease-in;
}
progress[value]::-webkit-progress-value {
	background: var(--optimum);
	border-radius: 7px;
	transition-property: color, background, width;
	transition-duration: 0.5s;
	transition-timing-function: ease-in;
}

/* meter::-webkit-meter-bar {
	background: var(--background);
}

meter:-moz-meter-optimum::-moz-meter-bar {
	background: var(--optimum);
}

meter::-webkit-meter-optimum-value {
	background: var(--optimum);
}

meter:-moz-meter-sub-optimum::-moz-meter-bar {
	background: var(--sub-optimum);
}

meter::-webkit-meter-suboptimum-value {
	background: var(--sub-optimum);
}

meter:-moz-meter-sub-sub-optimum::-moz-meter-bar {
	background: var(--sub-sub-optimum);
}

meter::-webkit-meter-even-less-good-value {
	background: var(--sub-sub-optimum);
} */

button {
	padding: 0.3rem;
	font-size: 1rem;
	border: solid 2px #f8c61d;
	color: #f8c61d;
	border-radius: 10px;
	background-color: #6d6161;
	font-weight: bolder;
	cursor: pointer;
	transition-property: color, background;
	transition-duration: 0.3s;
}

button:active {
	border: solid 2px #d4b758;
	background-color: #383535;
	transform: translateY(2px);
}

body {
	background: #a18900;
	padding: 0;
	margin: 0;

	cursor: url("./sprites/glove-point.png"), auto;
}

.disable-drag {
	-webkit-user-drag: none;
	-moz-user-drag: none;
	-ms-user-drag: none;
	user-select: none;
}

.draggable {
	user-select: none;
}

.drag-cursor {
	cursor: url("./sprites/glove-pinch.png"), auto;
}

/* #basket {
	position: absolute;
	top: 200px;
	width: 150px;
	height: 150px;
	background-color: #f8c61d;
	display: grid;
	place-content: center;
	margin: 1rem;
	border-radius: 20px;
} */

.no-select {
	user-select: none;
}

img {
	image-rendering: pixelated;
}

.character {
	cursor: url("./sprites/glove-open.png"), auto;
	z-index: 1;
}

.number-counter {
	display: flex;
	align-items: center;
	gap: 1rem;
	margin-inline: 2rem;
}

.ring-icon {
	image-rendering: pixelated;
	width: auto;
}

.ring-anim {
	animation-name: animRing;
	animation-duration: 0.1s;
	animation-timing-function: ease-out;
	animation-iteration-count: 1;
}

.points-number {
	font-size: 1rem;
}

.playfield-img {
	position: absolute;
	image-rendering: pixelated;
	width: auto;
	height: auto;
	/* width: 900px; */
	/* height: 900px; */
	pointer-events: none;
}

.playfield {
	/* background-image: url("sprites/garden.png"); */
	position: relative;
	/* position: absolute; */
	width: 176px;
	height: 160px;
	/* width: fit-content;
	height: fit-content; */
	z-index: 0;
}

#shop {
	z-index: 10;
	display: block;
	position: relative;
	width: 83px;
	height: 100%;
	margin-left: auto;
	/* font-size: 35px; */
	transform: translateX(100%);
	background-color: salmon;
	box-shadow: 1px 0px 2px #ac5950 inset;
	font-size: 10px;
	/* border-right: solid 5px #d86e62; */
	/* border-bottom: solid 5px #d86e62; */
}

#shop > h2 {
	font-size: 10px;
	margin: 0;
	padding-inline: 10px;
	padding-top: 10px;
}

#shop > ul {
	border-radius: 0 10px 10px 0;
	padding: 10px;
	margin: 0;
	list-style: none;
	display: grid;
	gap: 1rem;
}

#shop > ul > li {
	border-bottom: dotted #d86e62 1px;
}

@keyframes animEmoteBall {
	from {
		transform: translate3d(0, 0, 0);
	}
	to {
		transform: translate3d(0, -1px, 0);
		/* transform: translate3d(
			calc(var(--emote-w) * var(--cell-size) + var(--nudge-x)),
			0,
			0
		); */
	}
}

@keyframes animRing {
	from {
		transform: rotateY(180deg);
	}
	to {
		transform: rotateY(0deg);
	}
}

.fruits_wrap {
	width: 18px;
	height: 18px;
	overflow: hidden;
	position: relative;
	/* border: dotted white 1px; */
	display: block;
}

.fruits {
	animation-name: animFruits;
	animation-duration: 3s;
	animation-timing-function: steps(3);
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear;
	/* transition-duration: 0.2s;
	transition-property: all;
	transition-timing-function: ease-in; */
	width: calc(18px * var(--pixel-size));
	position: absolute;
	left: 0;
}

@keyframes animFruits {
	from {
		filter: contrast(1);
	}
	to {
		filter: contrast(10);
	}
}

.flex {
	display: flex;
	gap: 1rem;
	flex-wrap: wrap;
}
