@import url("https://fonts.googleapis.com/css2?family=Tiny5&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");
/* @font-face {
	font-family: "8Bit";
	src: url("https://fonts.gstatic.com/s/pressstart2p/v8/e3t4euH2GZy4JxvNPjwjQp4CQEIbB8Z5TGmYxucoWg.ttf");
} */

:root {
	--nudge-x: -6px;
	--nudge-y: -12px;
	--cell-size: -1;
	--canvas-overflow: 0;
	--emote-w: 16px;
	--move-speed: 20s;
}

body {
	/* font-family: "Tiny5", sans-serif; */
	font-family: "DotGothic16", sans-serif;
	font-weight: 400;
	font-style: normal;

	background: #a18900;
	padding: 0;
	margin: 0;

	cursor: url("./sprites/glove-point.png"), auto;
	font-size: 10px;
}

.meters_wrap {
	padding-inline: 10px;
	display: grid;
	gap: 1px;
}

.invisiable {
	opacity: 0;
}

button {
	padding: 0.3rem;
	font-size: 1rem;
	border: solid 2px #f8c61d;
	color: #f8c61d;
	border-radius: 10px;
	background-color: #6d6161;
	font-weight: bolder;
	cursor: pointer;
	transition-property: color, background;
	transition-duration: 0.3s;
}

button:active {
	border: solid 2px #d4b758;
	background-color: #383535;
	transform: translateY(2px);
}

.disable-drag {
	-webkit-user-drag: none;
	-moz-user-drag: none;
	-ms-user-drag: none;
	user-select: none;
}

.draggable {
	user-select: none;
}

.drag-cursor {
	cursor: url("./sprites/glove-pinch.png"), auto;
}

/* #basket {
	position: absolute;
	top: 200px;
	width: 150px;
	height: 150px;
	background-color: #f8c61d;
	display: grid;
	place-content: center;
	margin: 1rem;
	border-radius: 20px;
} */

.no-select {
	user-select: none;
}

img {
	image-rendering: pixelated;
}

.character {
	cursor: url("./sprites/glove-open.png"), auto;
	z-index: 1;
}

.ui_wrap {
	padding-inline: 1rem;
}

.number-counter {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.ring-icon {
	image-rendering: pixelated;
	width: auto;
}

.ring-anim {
	animation-name: animRing;
	animation-duration: 0.1s;
	animation-timing-function: ease-out;
	animation-iteration-count: 1;
}

.points-number {
	font-size: 1rem;
}

.playfield-img {
	position: absolute;
	image-rendering: pixelated;
	width: auto;
	height: auto;
	/* width: 900px; */
	/* height: 900px; */
	pointer-events: none;
}

.playfield {
	/* background-image: url("sprites/garden.png"); */
	position: relative;
	/* position: absolute; */
	width: 176px;
	height: 160px;
	/* width: fit-content;
	height: fit-content; */
	z-index: 0;
}

#shop {
	z-index: 10;
	display: block;
	position: relative;
	width: 83px;
	height: 100%;
	margin-left: auto;
	/* font-size: 35px; */
	transform: translateX(100%);
	background-color: salmon;
	box-shadow: 1px 0px 2px #ac5950 inset;
	font-size: 10px;
	/* border-right: solid 5px #d86e62; */
	/* border-bottom: solid 5px #d86e62; */
}

#shop > h2 {
	font-size: 10px;
	margin: 0;
	padding-inline: 10px;
	padding-top: 10px;
}

#shop > ul {
	border-radius: 0 10px 10px 0;
	padding: 10px;
	margin: 0;
	list-style: none;
	display: grid;
	gap: 5px;
}

#shop > ul > li {
	border-bottom: dotted #d86e62 1px;
}

@keyframes animEmoteBall {
	from {
		transform: translate3d(0, 0, 0);
	}
	to {
		transform: translate3d(0, -1px, 0);
		/* transform: translate3d(
			calc(var(--emote-w) * var(--cell-size) + var(--nudge-x)),
			0,
			0
		); */
	}
}

@keyframes animRing {
	from {
		transform: rotateY(180deg);
	}
	to {
		transform: rotateY(0deg);
	}
}

.fruits_wrap {
	width: 18px;
	height: 18px;
	overflow: hidden;
	position: relative;
	/* border: dotted white 1px; */
	display: block;
}

.fruits {
	animation-name: animFruits;
	animation-duration: 3s;
	animation-timing-function: steps(3);
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear;
	/* transition-duration: 0.2s;
	transition-property: all;
	transition-timing-function: ease-in; */
	width: calc(18px * var(--pixel-size));
	position: absolute;
	left: 0;
}

@keyframes animFruits {
	from {
		filter: contrast(1);
	}
	to {
		filter: contrast(10);
	}
}

.flex {
	display: flex;
	gap: 1rem;
	flex-wrap: wrap;
}
